/* .banner{
    background: url(../../Images/banner2.jpg);
} */
.banner{
    padding-top: 5rem;
}
.bannerContent{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-around;
}
.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}